<ion-view view-title="Dashboard">

    <ion-nav-title side="left">Welcome {{user_name}}</ion-nav-title>
  <ion-content class="padding">
      <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="doRefresh()">
      </ion-refresher>
      <div class="row">
          <div class="col-50">  <h4  class="icon ion-alert-circled" style="color:red !important">Pull To Refresh... </h4></div>
      </div >
      <div class="row">
          <div class="col"> <h5 style="color: blue !important">Internet Connection is Required To Get Latest Records</h5></div>
      </div >
      <div class="row">
          <div class="col">Pending Approval</div>
          <div class="col"> {{pending_approval_count}}</div>
      </div >
      <div class="row">
          <div class="col">Total Approved</div>
          <div class="col"> {{approved_count}}</div>
      </div >
      <div class="row">
          <div class="col">Rejected</div>
          <div class="col"> {{rejected_count}}</div>
      </div >
          <div class="row">
              <div class="col">Pending Uploads</div>
              <div class="col"> {{kyc_lists_count}}</div>
          </div >
      <div class="row">
          <div class="col"></div>
          <div class="col"></div>
      </div >
      <div class="row">
          <div class="col"></div>
          <div class="col"></div>
      </div >
  </ion-content>
</ion-view>
