<ion-view view-title="Kyc Add">
<ion-nav-title>Kyc Add  Welcome {{user_name}}</ion-nav-title>
  <ion-content>
      <form  name="Kyc_form" class="list" novalidate="" ng-submit="SaveFormData(kyc,Kyc_form)">
          <label class="item item-input item-select" style="line-height: 47px!important;" name="Pincode" ng-class="{ 'has-errors' : Kyc_form.pincode.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.pincode.$valid  && Kyc_form.$submitted}">
             <span class="input-label"  style="color: grey !important;  height:60px;">Pincode</span>
                   <select data-ng-model="kyc.pincode" ng-change="BindArea(kyc.pincode)">
                  <option value="" selected>Select</option>
                  <option ng-repeat="pin in UserAllocation_lists" value="{{pin.pincode}}">
                       {{pin.pincode}}
                  </option>
             </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.pincode.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.pincode.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px!important;" name="gpo" ng-class="{ 'has-errors' : Kyc_form.area.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.area.$valid  && Kyc_form.$submitted}">
              <span class="input-label" style="color: grey !important;  height:60px;">Post Office</span>
              <select data-ng-model="kyc.area" ng-options="x.area for x in Arealist" ng-change="populatetext()">
              <option value="" selected>Select</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.area.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.area.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
           <label class="item item-input item-floating-label" name="State" ng-class="{ 'has-errors' : Kyc_form.state.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.state.$valid  && Kyc_form.$submitted}">
              <span class="input-label">State</span>
               <input type="text"   name="state" data-ng-model="kyc.area.state" required placeholder="State"> 
              
          </label>
          <div class="error-container" ng-show="Kyc_form.state.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.state.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="district" ng-class="{ 'has-errors' : Kyc_form.district.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.district.$valid  && Kyc_form.$submitted}">
              <span class="input-label">District</span>
              <input type="text"  name="district"  data-ng-model="kyc.area.district" required placeholder="District">
             
          </label>
          <div class="error-container" ng-show="Kyc_form.district.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.district.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="City" ng-class="{ 'has-errors' : Kyc_form.city.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.city.$valid  && Kyc_form.$submitted}">
              <span class="input-label">City</span>            
               <input type="text"  name="city"   data-ng-model="kyc.area.city" required placeholder="City"> 
          </label>
          <div class="error-container" ng-show="Kyc_form.city.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.city.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="area2" ng-class="{ 'has-errors' : Kyc_form.area2.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.area2.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Area</span>
              <input type="text" name="area2" data-ng-model="kyc.area2" required placeholder="Area">
          </label>
          <div class="error-container" ng-show="Kyc_form.landmark.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.landmark.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <!--<label class="item item-input item-floating-label item-floating-label" name="form_no" ng-class="{ 'has-errors' : Kyc_form.form_no.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.form_no.$valid  && Kyc_form.$submitted}">-->
              <!--<span class="input-label">Form No. </span>-->
              <!--<input type="number"  name="form_no" data-ng-model="kyc.form_no"  ng-minlength="1"   required  placeholder="Form Number">-->
          <!--</label>-->
          <!--<div class="error-container" ng-show="Kyc_form.form_no.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.form_no.$error">-->
              <!--<div ng-messages-include="error-list.html"></div>-->
          <!--</div>-->
          <label class="item item-input item-floating-label item-floating-label" name="Owner_Name" ng-class="{ 'has-errors' : Kyc_form.owner_name.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.owner_name.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Owner Name</span>
              <input type="text"  name="owner_name" data-ng-model="kyc.owner_name"  ng-minlength="3" required  placeholder="Owner Name">
          </label>
          <div class="error-container" ng-show="Kyc_form.owner_name.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.owner_name.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label item-floating-label" name="Business_Name" ng-class="{ 'has-errors' : Kyc_form.business_name.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.business_name.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Business Name </span>
              <input type="text"  name="business_name" data-ng-model="kyc.bussiness_name" required placeholder="Business Name">
          </label>
          <div class="error-container" ng-show="Kyc_form.business_name.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.business_name.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label item-floating-label" name="Building_Name" ng-class="{ 'has-errors' : Kyc_form.building_name.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.building_name.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Address </span>
              <input type="text" name="building_name" data-ng-model="kyc.building_name"   required placeholder="Address">
          </label>
          <div class="error-container" ng-show="Kyc_form.building_name.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.building_name.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <label class="item item-input item-floating-label" name="Landmark" ng-class="{ 'has-errors' : Kyc_form.landmark.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.landmark.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Landmark</span>
              <input type="text" name="landmark" data-ng-model="kyc.landmark" required placeholder="Landmark">
          </label>
          <div class="error-container" ng-show="Kyc_form.landmark.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.landmark.$error">
              <div ng-messages-include="error-list.html"></div>
          </div> 

          <label class="item item-input item-floating-label" name="Mobile1" ng-class="{ 'has-errors' : Kyc_form.mobile1.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.mobile1.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Mobile 1</span>
              <input type="number"  name="mobile1" data-ng-model="kyc.Mobile1" ng-minlength="10" ng-maxlength="10"  required placeholder="Mobile no. 1">
          </label>
          <div class="error-container" ng-show="Kyc_form.mobile1.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.mobile1.$error">
              <div ng-messages-include="error1-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="Mobile2" ng-class="{ 'has-errors' : Kyc_form.mobile2.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.mobile2.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Mobile 2</span>
              <input type="number"  name="mobile2" data-ng-model="kyc.Mobile2"  placeholder="Mobile no. 2">
          </label>
          <div class="error-container" ng-show="Kyc_form.mobile2.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.mobile2.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="landline" ng-class="{ 'has-errors' : Kyc_form.landline.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.landline.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Landline</span>
              <input type="number" name="landline"  data-ng-model="kyc.landline"  placeholder="Landline">
          </label>
          <div class="error-container" ng-show="Kyc_form.landline.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.landline.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="Email" ng-class="{ 'has-errors' : Kyc_form.email.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.email.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Business Email</span>
              <input type="email"  name="email" data-ng-model="kyc.Email" placeholder="Business Email">
          </label>
          <div class="error-container" ng-show="Kyc_form.email.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.email.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="Tin" ng-class="{ 'has-errors' : Kyc_form.tin.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.tin.$valid  && Kyc_form.$submitted}">
              <span class="input-label">TIN</span>
              <input type="number"  name="tin" data-ng-model="kyc.tin"  placeholder="TIN">
          </label>
          <div class="error-container" ng-show="Kyc_form.tin.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.tin.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <!--<label class="item item-input item-floating-label" name="Ereference" ng-class="{ 'has-errors' : Kyc_form.existing_ref_no.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.existing_ref_no.$valid  && Kyc_form.$submitted}">-->
              <!--<span class="input-label">Existing Reference No</span>-->
              <!--<input type="number"  name="ereference" data-ng-model="kyc.existing_ref_no"  placeholder="Existing Reference No">-->
          <!--</label>-->
          <!--<div class="error-container" ng-show="Kyc_form.existing_ref_no.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.existing_ref_no.$error">-->
              <!--<div ng-messages-include="error-list.html"></div>-->
          <!--</div>-->

          <label class="item item-input" style="border: none !important; border-top: 1px solid #dddddd !important; line-height: 47px;" ng-class="{ 'has-errors' : Kyc_form.dob.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.dob.$valid  && Kyc_form.$submitted}">
              <span class="input-label" style="color: grey !important;">Date Of Birth</span>
              <input class="input-label"   type="date" name="dob" data-ng-model="kyc.dob" >
          </label>
          <div class="error-container" ng-show="Kyc_form.dob.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.dob.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px!important;" name="Shop Size" ng-class="{ 'has-errors' : Kyc_form.shop_size.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.shop_size.$valid  && Kyc_form.$submitted}">
              <span class="input-label" style="color: grey !important;  height:60px;">Shop Size</span>
              <!--<input type="number"  name="shop_size" data-ng-model="kyc.shop_size" placeholder="Shop Size(Sq Feet)">-->
              <select data-ng-model="kyc.shop_size">
                  <option value="" selected>Select</option>
                  <option value="Small" >Small</option>
                  <option value="Medium" >Medium</option>
                  <option value="Large">Large</option>

              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.shop_size.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.shop_size.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px !important;" name="smartphone" ng-class="{ 'has-errors' : Kyc_form.smartphone.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.smartphone.$valid  && Kyc_form.$submitted}">
              <span class="input-label"  style="color: grey !important;  height:60px;">Smartphone</span>
              <select data-ng-model="kyc.smartphone">
                  <option value="" selected>Select</option>
                  <option value="Android" >Android</option>
                  <option value="Iphone" >Iphone</option>
                  <option value="Windows">Windows</option>
                  <option value="Not Applicable">Not Applicable</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.smartphone.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.smartphone.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px !important;" name="business_type" ng-class="{ 'has-errors' : Kyc_form.business_type.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.business_type.$valid  && Kyc_form.$submitted}">
              <span class="input-label"  style="color: grey !important;  height:60px;">Business Type</span>
              <select data-ng-model="kyc.business_type">
                  <option value="" selected>Select</option>
                  <option value="WHOLESALE" >WHOLESALE</option>
                  <option value="RETAIL" >RETAIL</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.relaxo_brand_present.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.relaxo_brand_present.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px !important;" name="relaxo_brand_present" ng-class="{ 'has-errors' : Kyc_form.business_type.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.business_type.$valid  && Kyc_form.$submitted}">
              <span class="input-label"  style="color: grey !important;  height:60px;">Relaxo Branding Present </span>
              <select data-ng-model="kyc.relaxo_brand_present">
                  <option value="" selected>Select</option>
                  <option value="1" >Yes</option>
                  <option value="0" >No</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.relaxo_brand_present.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.relaxo_brand_present.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px !important;" name="competitive_brand_present" ng-class="{ 'has-errors' : Kyc_form.competitive_brand_present.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.competitive_brand_present.$valid  && Kyc_form.$submitted}">
              <span class="input-label"  style="color: grey !important;  height:60px;">Competitive Brands Present</span>
              <select data-ng-model="kyc.competitive_brand_present">
                  <option value="" selected>Select</option>
                  <option value="1" >Yes</option>
                  <option value="0" >No</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.competitive_brand_present.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.competitive_brand_present.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px !important;" name="competition_instore_present" ng-class="{ 'has-errors' : Kyc_form.competition_instore_present.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.competition_instore_present.$valid  && Kyc_form.$submitted}">
              <span class="input-label"  style="color: grey !important;  height:60px;">Competitive In-Store Present</span>
              <select data-ng-model="kyc.competition_instore_present">
                  <option value="" selected>Select</option>
                  <option value="1" >Yes</option>
                  <option value="0" >No</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.competition_instore_present.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.competition_instore_present.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-select" style="line-height: 47px !important;" name="intSellRelaxoProd" ng-class="{ 'has-errors' : Kyc_form.intSellRelaxoProd.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.intSellRelaxoProd.$valid  && Kyc_form.$submitted}">
              <span class="input-label"  style="color: grey !important;  height:60px;">Interested in Relaxo</span>
              <select data-ng-model="kyc.intSellRelaxoProd">
                  <option value="" selected>Select</option>
                  <option value="Not Interested">Not Interested</option>
                  <option value="Shoes">Shoes</option>
                  <option value="Bahama">Bahama</option>
                  <option value="Hawaii">Hawaii</option>
                  <option value="Sparx Sandals/SFG">Sparx Sandals/SFG</option>
                  <option value="PU">PU</option>
                  <option value="Flite">Flite</option>
                  <option value="All">All</option>
              </select>
          </label>
          <div class="error-container" ng-show="Kyc_form.intSellRelaxoProd.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.intSellRelaxoProd.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>
          <label class="item item-input item-floating-label" name="salesman_count" ng-class="{ 'has-errors' : Kyc_form.salesman_count.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.salesman_count.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Salesman Count</span>
              <input type="number"  name="salesman_count" data-ng-model="kyc.salesman_count" required placeholder="Salesman Count">
          </label>
          <div class="error-container" ng-show="Kyc_form.salesman_count.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.salesman_count.$error">
              <div ng-messages-include="error1-list.html"></div>
          </div>
          <h3>&nbsp; &nbsp;Relaxo Brand Product Sold</h3>
          <div class="row">
          <div class="col">   <ion-checkbox data-ng-model="kyc.s1">Hawaii</ion-checkbox></div>
          </div>
          <div class="row">
          <div class="col">  <ion-checkbox data-ng-model="kyc.s2">Belle</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s3">Bahamas</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">   <ion-checkbox data-ng-model="kyc.s4">Flite</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">  <ion-checkbox data-ng-model="kyc.s5">Flite PU</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s6">Sparx Sandals</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">   <ion-checkbox data-ng-model="kyc.s7">Sparx Fabricated</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">  <ion-checkbox data-ng-model="kyc.s8">Sparx Shoes</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s9">Sparx Canvas</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s10">Schoolmate</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s11">Casual</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s12">Sparx DIP</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.s13">Canvas</ion-checkbox></div>
          </div>

          <h3>&nbsp; &nbsp;  Competition Brands </h3>
          <div class="row">
              <div class="col">   <ion-checkbox data-ng-model="kyc.competition.Aqualite">Aqualite</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">  <ion-checkbox data-ng-model="kyc.competition.Lakhani">Lakhani</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.competition.Action">Action (Florina, Actionite, Flotter)</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">   <ion-checkbox data-ng-model="kyc.competition.Campus">Campus</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">  <ion-checkbox data-ng-model="kyc.competition.VKC">VKC</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.competition.APL">APL</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">   <ion-checkbox data-ng-model="kyc.competition.Inblu">Inblu (Aerowalk, Chips)</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col">  <ion-checkbox data-ng-model="kyc.competition.Columbus">Columbus</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.competition.Reebok">Reebok</ion-checkbox></div>
          </div>
          <div class="row">
              <div class="col col-30">   <ion-checkbox data-ng-model="kyc.competition.Bairathi">Bairathi</ion-checkbox></div>
          </div>
          <label class="item item-input item-floating-label" name="Website" ng-class="{ 'has-errors' : Kyc_form.website.$invalid && Kyc_form.$submitted, 'no-errors' : Kyc_form.website.$valid  && Kyc_form.$submitted}">
              <span class="input-label">Remarks</span>
              <input type="text"  name="website" data-ng-model="kyc.Website"  placeholder="Remarks">
          </label>
          <div class="error-container" ng-show="Kyc_form.website.$error &&  Kyc_form.$submitted" ng-messages="Kyc_form.website.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <button type='button' class="button icon ion-android-camera  button-block  button-outline button-positive" ng-click="takePhotoShop()"> Take Shop Board Picture</button>
          <div class="list card">
              <div class=" item item-image">
                  <img ng-show="BoardImage !== undefined" ng-src="{{BoardImage}}" style="text-align: center">
              </div>
          </div>
          <br>
          <button type='button' class="button icon ion-android-camera  button-block  button-outline button-positive" ng-click="takePhotoShopInside()"> Take Shop Inside  Picture</button>
          <div class="list card">
              <div class=" item item-image">
                  <img ng-show="ShopInside !== undefined" ng-src="{{ShopInside}}" style="text-align: center">
              </div>
          </div>
          <br>
          <button type='button' class="button icon ion-android-camera  button-block  button-outline button-positive" ng-click="takePhotoOwnerId()"> Take Owner ID Picture</button>
          <div class="list card">
              <div class=" item item-image">
                  <img ng-show="OwnerId !== undefined" ng-src="{{OwnerId}}" style="text-align: center">
              </div>
          </div>
          <br>
          <button class="button  button-block  button-outline button-calm" type="submit">Save Record</button>
           <br>
          <div class="row"></div>
      </form>


  </ion-content>


</ion-view>
<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i>
        This field is required!
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i>
        Minimum length of this field is 6 characters!
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i>
        Maximum length of this field is 6 characters!
    </div>

</script>

<script id="error1-list.html" type="text/ng-template">
<div class="error" ng-message="minlength">
    <i class="ion-information-circled"></i>
   Mobile number Should be minimum 10 digit !
</div>
<div class="error" ng-message="maxlength">
    <i class="ion-information-circled"></i>
    Mobile number Should not exceed 10 digit !
</div>
</script>